html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
}


input {
  font-size: 12px;
  color: black;
}


span {
  color: white;
  margin: 0 0 0 0;
}

.main {
  flex: 1 1 0;
  display: flex;
}
.container-fluid {
  display: flex;
}

.list-group {
  overflow: auto;
  max-height: 900px;
  margin-left: 0px;
  margin-right: 0;

}
.navbar-header {
  text-align: left;
  bottom: 0;
  width: 100%;
}

main {
    margin-top: 100px;
}
#map {
  top: 100px;
  bottom:0px;
  right: 0px;
  height: 100%;
  max-height: 100%;
  position: absolute;
}

#myalert {
  display: none;
}
